<div class="relative flex flex-col justify-center items-center">
    <div class="w-[80%] mt-14">
      <div class="flex w-[100%] justify-between items-center" data-aos="fade-right">
        <h2 class="text-white text-5xl font-semibold">Seja bem vindo!! Nome</h2>
          <%= link_to 'Search', new_user_registration_path, class: "p-2 text-white font-semibold bg-green-400 rounded-lg ml-5 cursor-pointer" %>
      </div>
    </div>
</div>