<div id="<%= dom_id book %>">
  <p class="my-5">
    <strong class="block font-medium mb-1 text-green-400">Título:</strong>
    <span class="text-white"><%= book.title %></span>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 text-green-400">Descrição:</strong>
    <span class="text-white"><%= book.description %></span>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 text-green-400">Autor:</strong>
    <span class="text-white"><%= book.author %></span>
  </p>
</div>
